%h1 Music

%p
  I've been fascinated with sounds and music since I first heard Herbie
  Hancock's 'Rockit' when I was in fourth grade. This song was such a
  breakthrough in style and technique, and really impressed me with how
  different it was than anything else I had ever heard.

%iframe{ :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/qPTHjZ6JYIU?start=110", :frameborder=>"0", :allowfullscreen=>true }

%p
  This was the first cassette tape I ever bought, and was the only one I had for quite a while.

%p
  Rockit was my first peek into what was possible with sounds and rhythm. I had a Commodore 64 computer at the time, and would write programs to interface with its sound chip (SID) to make little sounds and songs. It was surprisingly capable in this area -- very far ahead of other PCs at the time. I lost touch with programming when my family got an IBM PC, but I still was a fan of music, and in particular listening to it really carefully and noticing each layer.

%p
  I passed through different music obsessions through the years. Faith No More, The Smiths, Front 242, Ruby, and finally Autechre. I feel like the point where I heard Autechre, I decided that I wanted to make music too. Their originality and attention to detail are off the charts. Their music from 20 years ago still sounds like it is from the future. Don't even start me on their new stuff... 1000 years ahead kind of stuff.

%iframe{ :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/H6pqLWtfv_g", :frameborder=>"0", :allowfullscreen=>true }

%p
  In college, I got the music bug and ordered a Creative Labs SoundBlaster AWE 64 Gold soundcard for my PC and a Roland PC-200 MIDI controller. I used that setup with some crappy MIDI sequencing software to make a few songs. It was fun! But I was limited by the sounds that came on the soundcard. My computer at the time wasn't fast enough to deal with audio files. I connected the AWE 64 Gold to a Minidisc recorder using a homemade SPDIF to Toslink converter.

%p
  A computer upgrade later, and I started to use a virtual synth program called Reality from Seer Systems. It was super cool to be able to make my own sounds, but it took a LOT of computer power to do this. My MIDI timing was all over the map, so I oftentimes had to record to Minidisc several times before one with a stable happened to happen.

%p
  %img{ :src=>"/system/20170515-sound_post/reality.gif", :class=>"img-responsive" }

%p
  I heard about a device called a sampler, which was a piece of equipment you could load sounds into, and play them back. This would take the load off the computer, so maybe that's the secret to music happiness??? While looking through a music magazine, I found an ad for a sample library company (wish I could remember which one). Anyway for no good reason at all, I called them to ask if they perhaps had any used samplers for sale. Nowhere in their ad did they mention samplers, but I called them to ask about samplers. The person who answered said, "oh well we just swapped this one out in our showroom for the newer model and we were just going to put the word out that this one was for sale." I asked what it was, and they said an Akai S3000 XL. Holy moly. "How much?" I asked. "$500." "I'll take it!" Holy Moly! I was getting an S3000XL for only $500?!?! Awesome.

%p
  %img{ :src=>"/system/20170515-sound_post/s3000xl.jpg", :class=>"img-responsive" }

%p
  Yeah it has a 3.5" floppy drive. It also had a SCSI interface, which worked perfectly with my computer. That made loading samples to and from this thing super fast, and allowed the use of a computer editor that was a lot faster than working with the S3000XL's tiny streen and data entry wheel.

%p
  This purchase necessitated buying a mixer too, since the S3000XL had 8 outputs. And an effects unit. And lots of cables. And some monitor speakers. Not such a cost effective move, but one that took my tools to the next level.

%p
  The next big change came in 1999 or 2000 when a work friend and I started talking about music. He was a musician and worked as a music journalist. We were talking about equipment, and he mentioned this awesome German synth called an Access Virus. He had one and was in awe of what it could do and how it sounded. I checked it out, and sure enough the thing was a beautiful beast. I bought one (and another mixer) from Guitar Center and started to really get into synthesis.

%p
  %img{ :src=>"/system/20170515-sound_post/virus.jpg", :class=>"img-responsive" }

%p
  The online community around the Virus was very vibrant and active. At that time, group email lists were used as message boards. You sent a message to the list, and it was fowarded to all members of the list. The inventor of the Virus, Access Music's Christoph Kemper, was on the list, as well as its main marketing/bizdev guy Marc Schlaile. I made a lot of friends on the list, and learned a lot from everyone. My most proud musical moment came when Marc asked me if they could use a bunch of my sounds for the ROM on the Virus. That means that everyone who buys one would be able to hear my sounds. That was a great honor, and I appreciate the Virus t-shirt and Re-Cycle software I received in return from Access. My sounds are still in the latest versions of the Virus sold today.

%p
  I produced a dozen or so songs by this point (2000-2001), and made them all downloadable on my website as MP3s. I burned 20 or so CDs at some point, and had fun with the cover art and design. Computers got more and more powerful through time, and at some point I decided that computers were the future. A room full of expensive equiment was just a relic of the past. I invested in software synths like ReBirth and Reason. It seemed like they could do all my room of gear could do and more, so I started selling off my hardware.

%p
  At that point (2001), I had a pair of Mackie HR-824 speakers, two Mackie 12 channel mixers, the S3000XL, the Virus, a Yamaha FS-1R (awesome and deep), a Yamaha RY-30 drum machine, and an Alesis QS-6 (used basically just a MIDI controller, but it had some cool sounds too). Everything was still recording to Minidisc, then bounced back into the computer. Then I sold it all.

%p
  %img{ :src=>"/system/20170515-sound_post/studio_2001.jpg", :class=>"img-responsive" }

%p
  When I was left with just the computer, my inspiration and motivation dried up. Getting married accelerated that change too, since there was not room (so I thought) for tinkering with sounds and music until 4am every day. I stopped making music for a long time. A really long time.

%p
  The revival of music came about in 2016. I was now a single father, separated, back on my own, with a few days a week where I could stay up late to nerd out with stuff. I made friends with other music lovers. I played some music that I had made before for them and they liked it. They told me I should get on Spotify. Hey that sounded cool. Maybe I could?

%p
  Around this time, I also purchased Logic Pro. I was a Logic user back in the old days, and the software was still vaguely familiar today. Computers are so powerful now, and monitors are big. My laptop can easily take the place of a room stuffed with equipment and not break a sweat. A computer sucks as an input device, but there are lots of choices for bringing expression into the computer. I got an Akai MPD-226 to tap out rhythms on, and am using an old Midiman Oxygen 8 2-octave controller. A Focusrite USB audio interface brings in audio from my mic, or sends balanced audio out to the HR-824mk2 speakers. I've also got a Rode i-XY stereo mic for my phone for field recording.

%p
  I have been really productive with this setup! I love that everything lives in the laptop, and can come with me anywhere. A big monitor is a real boon to my use of Logic. To be able to see so much at once keeps me motivated to stay in the song. Having a couple of different controllers makes inputting rhythms really fun and natural. I do wish I had a 61 or 76 key controller, but that will probably come soon. With my life changes, I've gotten more in tune with my own feelings, and I think that is coming out in my music.

%p
  So I did figure out how to get onto Spotify (and iTunes and Google Play and Amazon Music and ...). You have to have a relationship with a record label. Well, in the past that was the showstopper for me. But then I decided to search... and I found a service called DistroKid where for $20/year they basically act as "your label" and you upload music to them, and they upload it to the various services. Super clean, and cost effective. Done!

%p
  This is where I make music now (2017).
  %img{ :src=>"/system/20170515-sound_post/studio.jpg", :class=>"img-responsive" }

%p
  You can find my music on:
  %ul
    %li= link_to "Bandcamp", "https://zacksteinkamp.bandcamp.com/"
    %li= link_to "Google Play", "https://play.google.com/store/music/artist/Zack_Steinkamp?id=Ahvn4wxah4srjesbrcispbgac2y"
    %li= link_to "iTunes", "https://itunes.apple.com/us/artist/zack-steinkamp/id1217691470"
    %li= link_to "Soundcloud", "https://soundcloud.com/thenobot/tracks"
    %li= link_to "Spotify", "https://open.spotify.com/artist/4zlbGPYkjV7EpxXHyfZNAh"

%p
  Check out the
  = link_to "Songs Page", :controller => "static", :action => "index", :page => "songs"
  for more information about individual tracks.
