- unless entry.thumb_url.blank?
  .image_wrapper
    = link_to image_tag(entry.thumb_url), entry.permalink
%h2= link_to entry.disp_title, entry.permalink
= entry.data[:excerpt].blank? ? "#{strip_tags(entry.data[:description] || "")[0..255]}..." : entry.data[:excerpt]
(#{pluralize(entry.data[:photos].count, "photo")})
